
<!-- <app-add (sentData)="AddPerson($event)"></app-add>
<app-display *ngFor="let person of data" [customName]="person"></app-display>
<
<p>Here comes Nothing!</p> -->
<!-- <button (click)="Test($event)"></button> -->
<!-- 
<div [ngSwitch]="day" > 
<p *ngSwitchCase="1"> The Day is Monday</p>
<p *ngSwitchCase="2"> The Day is Teusday</p>
<p *ngSwitchCase="3"> The Day is Wednesday</p>
<p *ngSwitchCase="4"> The Day is Thursday</p>
<p *ngSwitchCase="5"> The Day is Friday</p>
<p *ngSwitchDefault>Wrong Input</p>
</div> -->
<!-- <app-add-product></app-add-product>
<app-products></app-products> -->

<!-- <button (click)="Toggle()">Show</button>


    <div *appUnif="show">
        <p appHighlight> This is Highlighed</p>
        <p appHighlighter2 [background]="'yellow'"  [textColor]="'red'"> This is Highlighed by App Highlighter two</p>
        <p appHighlighter2 [background]="'black'"  [textColor]="'white'"> This is Highlighed by App Highlighter two</p>
        <p appHighlighter2 [background]="'red'"  [textColor]="'white'"> This is Highlighed by App Highlighter two</p>
        <p appHighlighter2 [background]="'blue'"  [textColor]="'white'"> This is Highlighed by App Highlighter two</p>
        
    </div> -->

<!-- s -->

<app-reactive-forms></app-reactive-forms>